@use '../../../../variables';
@use '../../../../admin';
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  .toolbar {
    height: fit-content;
    min-height: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background: variables.$white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4daf5b",endColorstr="#126776",GradientType=1);
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
      width: 100px;
    }
    mat-icon {
      color: variables.$primary;
    }
    .logout-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      span {
        color: variables.$primary;
        font-size: 1rem;
      }
    }
  }

  .main-container {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    flex: 1 1 0%;
    .drawer {
      width: 13rem;
      background-color: variables.$primary;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      border-radius: 0;
      overflow-x: hidden;
      .navbar-image-group {
          padding: 1rem;
          .header-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid variables.$white;
            img {
              max-height: 5rem;
              cursor: pointer;
            //   width: 100%;
              &:focus-visible {
                outline: none;
              }
            }
            span {
              color: variables.$white;
            }
          }
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .content {
      margin-right: 0 !important;
      overflow-x: hidden;
      flex: 1 1 0%;
      .content-container {
        padding: 1.25rem;
        flex: 1 1 0%;
        margin-right: 0 !important;
      }
    }
  }
}
