@use '../../../variables';
@use '../../../public';

.ui-mobile-paginator-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .paginator-text {
        font-size: 12px;
        color: variables.$gray;
        font-weight: 600;
    }
    .paginator-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
}