@use '../../../variables';
@use '../../../public';

.item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: variables.$white;
  padding: 4px;
  height: auto;
  &:active {
    box-shadow: 0px 2px 2px 0px rgba(30, 67, 107, 0.25);
  }
  .item-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 80px;
    margin: 5px;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 80px;
      border-radius: 50%;
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
  .item-info-container {
    flex: 2;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 5px;
    .item-service {
      color: variables.$black;
      font-size: 12px;
      font-weight: 700;
    }
    .item-info-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      .item-info-icon {
        color: variables.$secondary;
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
      .item-info-text {
        color: variables.$gray;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}
