@use '../../../../variables';
@use '../../../../public';

main {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-container {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    flex: 1 1 0%;
    .drawer {
      width: 13rem;
      background-color: variables.$background-public;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      border-radius: 0;
      overflow-x: hidden;
      padding: 10px;
      .navbar-user-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 10px;
        border-bottom: 1px solid variables.$light-gray;
        .welcome-text {
          color: variables.$primary;
          font-weight: 700;
        }
        .logout-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          .logout-text {
            color: variables.$gray;
            font-weight: 700;
          }
          span {
            font-size: 14px;
          }
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 0px;
        padding-right: 0px;
        .list-item {
          text-decoration-line: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.75rem;
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          span {
            color: variables.$primary;
            line-height: 1.5rem;
          }
        }
        .list-item.active {
          span {
            color: variables.$secondary;
            font-weight: 600;
          }
        }
      }
    }
    .content {
      margin-right: 0 !important;
      overflow-x: hidden;
      flex: 1 1 0%;
      .content-container {
        padding: 1.25rem;
        flex: 1 1 0%;
        margin-right: 0 !important;
        background-color: variables.$background-public;
      }
    }
  }
}
