@use '../../../../../../variables';
@use '../../../../../../admin';

mat-dialog-content {
    display: flex;
    flex-direction: column;
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid variables.$light-gray;
        &.header {
            .column {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;
                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: variables.$gray;
                }
                &.day {
                    min-width: 20%;
                    max-width: 20%;
                }
                &.active {
                    min-width: 10%;
                    max-width: 10%;
                }
                &.slot {
                    min-width: 35%;
                    max-width: 35%;
                }
            }
        }
        &.body {
            .column {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;
                &.day {
                    min-width: 20%;
                    max-width: 20%;
                    span {
                        font-size: 20px;
                        color: variables.$primary;
                        font-weight: 600;
                    }
                }
                &.active {
                    min-width: 10%;
                    max-width: 10%;
                }
                &.slot {
                    min-width: 35%;
                    max-width: 35%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    mat-form-field {
                        flex: 1;
                    }
                }
            }
        }
    }
}