@use '../../../variables';
@use '../../../public';

.service-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: variables.$white;
  padding: 10px;
  gap: 10px;
  .service-item-title {
    color: variables.$primary;
    font-weight: 700;
    font-size: 16px;
  }
  .service-info-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .service-info-icon {
      color: variables.$secondary;
      height: 16px;
      width: 16px;
      font-size: 16px;
      min-width: 16px;
    }
    .service-info-text {
      color: variables.$gray;
      font-size: 12px;
      font-weight: 600;
    }
  }
  .action-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
