@use '../../../../../variables';
@use '../../../../../admin';

.month-container {
  max-width: 250px;
  border: 1px solid variables.$light-gray;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  .header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: variables.$primary;
    .month-name {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: variables.$white;
    }
  }
  .body {
    padding-top: 8px;
    background-color: #f9f9f9;

    max-height: 250px; /* Adjust this value based on your design */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1140px) {
  .month-container {
    .body {
      height: 200px;
    }
  }
}