@if (isLoading()) {
<div class="admin-spinner-container">
    <mat-spinner></mat-spinner>
</div>
}
<div class="page-main-container">
    <div class="page-actions">
        <span class="title primary">My profile</span>
        <div class="buttons">
            <button class="save-button" mat-flat-button color="primary" [disabled]="profileForm.invalid"
                (click)="save()">
                <mat-icon>save</mat-icon>
                <span class="semi-bold">Save</span>
            </button>
        </div>
    </div>
    <div class="page-content">
        <form class="profile-form" [formGroup]="profileForm">
            <div class="profile-section top">
                <div class="profile-picture-group">
                    <div class="profile-picture">
                        <img src="images/resources/generic-avatar-big.png" alt="Business profile photo">
                    </div>
                    <button matButton="outlined" color="accent">Change photo</button>
                </div>
                <div class="profile-data-group">
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Business Name</mat-label>
                            <input matInput formControlName="businessName">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Province</mat-label>
                            <mat-select formControlName="provinceId">
                                @for (province of provinceOptions; track province) {
                                <mat-option [value]="province.value">{{ province.label }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Simultaneous Reservations</mat-label>
                            <input matInput formControlName="simultaneousReservations">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Keyword 1</mat-label>
                            <input matInput formControlName="keyword1">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Keyword 2</mat-label>
                            <input matInput formControlName="keyword1">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Keyword 3</mat-label>
                            <input matInput formControlName="keyword1">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button matButton="outlined" color="primary" (click)="goTo('admin/services')">Manage
                            Services</button>
                        <button matButton="outlined" color="primary" (click)="goTo('admin/reservations')">Manage
                            Reservations</button>
                        <button matButton="outlined" color="primary" (click)="openAvailabilityModal()">Configure
                            Availability</button>
                    </div>
                </div>
            </div>
            <div class="profile-section bottom">
                <div class="profile-data-group contact"></div>
                <div class="profile-data-group media"></div>
                <div class="profile-data-group categories"></div>
            </div>
        </form>
    </div>
</div>