@use '../../../../../variables';
@use '../../../../../admin';

.content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  .info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .add-button {
      span {
        font-size: 16px;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      &.start {
        justify-content: flex-start;
      }
    }
    .holidays-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .section {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .subsection-content {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .row {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            .dates {
              display: flex;
              flex-direction: row;
              gap: 30px;
              justify-content: flex-start;
              align-items: center;
            //   flex: 3;
              .holiday-date {
                font-size: 1.5rem;
              }
            }
            .actions {
              display: flex;
              flex-direction: row;
              gap: 16px;
              justify-content: flex-start;
              align-items: center;
              flex: 1;
              mat-icon {
                color: variables.$error;
              }
            }
          }
        }
      }
    }
  }
}

.calendars-section {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  // padding: 20px;
}

.info-message {
  color: #8e8e8e;
}

@media screen and (min-width: 1341px) and (max-width: 1480px) {
  .content {
    .calendars-section {
      flex: 1;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1340px) {
  .content {
    flex-direction: column;
    .calendars-section {
      flex: 1;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
