@if (isLoading()) {
<div class="public-spinner-container">
    <mat-spinner></mat-spinner>
</div>
}
<div class="page-main-container">
    <div class="page-content">
        <app-ui-page-header backUrl="public" title="Profile" actionText="Save"
            (actionClick$)="save()"></app-ui-page-header>
        <div class="profile-content">
            <span class="description">Edit your profile data.</span>
            <form [formGroup]="profileForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput placeholder="Surname" formControlName="lastName">
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" formControlName="phone">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Province</mat-label>
                    <mat-select formControlName="provinceId">
                        @for (province of provinceOptions; track province) {
                        <mat-option [value]="province.value">{{ province.label }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
            <span class="message">Your data will be visibile for business owners in order to manage your
                reservations.</span>
        </div>
    </div>
</div>