@use '../../../../../variables';
@use '../../../../../public';

.reservations-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        padding: 0 16px;
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            mat-form-field {
                width: 100%;
            }
        }
    }
    .reservations-list-container {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        app-ui-mobile-paginator {
            width: 100%;
        }
        .reservations-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
            gap: 16px;
            width: 100%;
            app-ui-reservation-full {
                width: 100%;
                height: 100%;
            }
        }
    }

    // Tablet styles
    @media (min-width: 768px) and (max-width: 1023px) {
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        
        form {
            padding: 0 20px;
        }
        
        .reservations-list-container {
            padding: 0 20px;
            gap: 20px;
            max-width: 800px;

            .reservations-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                app-ui-reservation-full {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }

    // Desktop styles
    @media (min-width: 1024px) {
        gap: 24px;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        
        form {
            padding: 0 24px;
            
            .row {
                gap: 24px;
            }
        }
        
        .reservations-list-container {
            padding: 0 24px;
            gap: 24px;
            max-width: 1200px;

            .reservations-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                app-ui-reservation-full {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}