@use '../../../../../variables';
@use '../../../../../public';

.reservations-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        padding: 0 16px;
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            mat-form-field {
                width: 100%;
            }
        }
    }
    .reservations-list-container {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        app-ui-mobile-paginator {
            width: 100%;
        }
        app-ui-reservation-full {
            width: 100%;
        }
    }
}