@use '../../../variables';
@use '../../../admin';

.category-full-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    border: 3px solid variables.$primary;
    border-radius: 8px;
    padding: 12px 16px;
    .category-icon {
        img {
            max-width: 40px;
        }
    }
    .category-name {
        display: flex;
        flex: 1;
        font-size: 24px;
        color: variables.$primary;
    }
    .action-button {
        button {
            mat-icon {
                color: variables.$error;
            }
        }
    }
}
