@use '../../../../../../variables';
@use '../../../../../../admin';

.offered-service-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        mat-form-field {
            width: 100%;
        }
    }
}