@use '../../../variables';
@use '../../../public';

.category-item {
  flex: 0 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
  cursor: pointer;
  .category-icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: variables.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    &:active {
      box-shadow: 0px 2px 2px 0px rgba(30, 67, 107, 1);
    }
  }

  .category-name {
    font-size: 12px;
    font-weight: 700;
    color: variables.$black;
  }
}
