@use '../../../../../variables';
@use '../../../../../public';

.business-content {
  display: flex;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  .top-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    background-color: variables.$white;
    .image-container {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
    }
    .info-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .business-info-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;
        .business-info-text {
          color: variables.$gray;
          font-size: 10px;
          font-weight: 600;
        }
        .business-info-icon {
          color: variables.$secondary;
          height: 14px;
          width: 14px;
          font-size: 14px;
          min-width: 14px;
        }
      }
    }
  }
  .section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    .section-title {
      color: variables.$secondary;
      font-size: 14px;
      font-weight: 700;
    }
    .categories-list {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
    .services-list {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      app-ui-service-item {
        width: 100%;
      }
    }
  }
}
