<div class="business-container" (click)="viewDetails()">
    <div class="business-image-container">
        <img src="images/resources/business-example-logo.png" alt="Business logo">
    </div>
    <div class="business-info-container">
        <div class="business-info-group">
            <span class="business-name">{{ business.name }}</span>
        </div>
        <div class="business-info-group">
            <mat-icon class="business-info-icon">location_on</mat-icon>
            <span class="business-info-text">{{ business.address }}</span>
        </div>
        <div class="business-info-section">
            <span class="info-section-title">Categories</span>
            <span class="business-info-text">Hairdresser, Beautician</span>
        </div>
        <div class="business-info-section">
            <span class="info-section-title">Opening Days</span>
            <span class="business-info-text">Mon, Tue, Wed, Thu, Fri, Sat</span>
        </div>
    </div>
</div>