@use '../../../../../variables';
@use '../../../../../admin';

.date-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  .date-selector {
    display: flex;
    width: 100%;
    flex-direction: row;
    // gap: 32px;
    align-items: center;
    justify-content: space-between;

    .date-info {
      font-size: 1.5rem;
      font-weight: 700;
      &.pointer {
        cursor: pointer;
      }
    }
    &.hidden {
        height: 1px;
    }
  }
  input {
    visibility: hidden;
    // width: 1px;
    height: 1px;
  }
}