@use './_variables';

.admin-spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.page-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  gap: 80px;
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    &.primary {
      color: variables.$primary;
    }
    &.secondary {
      color: variables.$secondary;
    }
  }
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    .input-box {
      position: relative;
      border: 1px solid #dddddd;
      width: 100%;
      border-radius: 10px;
      display: flex;
      gap: 16px;
      input {
        border-style: none;
        font-size: 18px;
        letter-spacing: 1px;
        outline: none;
        background-color: transparent;
        color: variables.$primary;
        width: 100%;
        margin-right: 20px;
        padding: 5px 20px;
      }
      .input-button-container {
        height: 100%;
        padding: 5px;
        &.search {
          border-radius: 0 10px 10px 0;
          position: absolute;
          right: 0;
          width: 40px;
        }
        mat-icon {
          cursor: pointer;
        }
      }
    }
    .input-box:focus-within {
      .input-button-container {
        height: 100%;
        padding: 5px;
        mat-icon {
          cursor: pointer;
        }
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    .add-button {
      width: 170px;
      font-size: 20px;
      border-radius: 10px;
      mat-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    .filter-button,
    .create-button,
    .save-button,
    .edit-button,
    .cancel-button {
      span {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
}

.active-filters-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  span.regular {
    font-size: 18px;
    color: variables.$primary;
  }
  mat-chip-set {
    flex: 1;
    mat-chip {
      button {
        mat-icon {
          color: variables.$white;
        }
      }
    }
  }
}
