@use './_variables';

.public-spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  width: 100%;
  padding: 0 10px;
  .input-box {
    position: relative;
    border: 1px solid #dddddd;
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 16px;
    background-color: variables.$white;
    input {
      border-style: none;
      font-size: 18px;
      letter-spacing: 1px;
      outline: none;
      background-color: transparent;
      color: variables.$primary;
      width: 100%;
      margin-right: 20px;
      padding: 5px 20px;
    }
    .input-button-container {
      height: 100%;
      padding: 5px;
      &.search {
        border-radius: 0 10px 10px 0;
        position: absolute;
        right: 0;
        width: 40px;
      }
      mat-icon {
        cursor: pointer;
      }
    }
  }
  .input-box:focus-within {
    .input-button-container {
      height: 100%;
      padding: 5px;
      mat-icon {
        cursor: pointer;
      }
    }
  }
}
