$black: #000000;
$white: #ffffff;
$success: #6cc070;
$light-gray: #d9d9d9;
$gray: #7B7B7B;
$error: #ba1a1a;
$warning: #fdf9cd;
$warning-dark: #928600;
$info: #c6dff3;
$info-dark: #6674c6;
$light-yellow: #ecd77a;

$background-public: #F4F9FF;

// SECONDARY
$secondary-0:   #000000;
$secondary-10:  #002823;
$secondary-20:  #004f46;
$secondary-25:  #006357;
$secondary-30:  #007768;
$secondary-35:  #008b7a;
$secondary:     #009e8b;
$secondary-50:  #00c6ae;
$secondary-60:  #33d1be;
$secondary-70:  #66ddce;
$secondary-80:  #99e8df;
$secondary-90:  #ccf4ef;
$secondary-95:  #e6f9f7;
$secondary-98:  #f5fdfc;
$secondary-99:  #fafefd;
$secondary-100: #ffffff;


// PRIMARY
$primary-0: #000000;
$primary-10: #07111b;
$primary-20: #0f2236;
$primary-25: #122a43;
$primary-30: #163250;
$primary-35: #1a3b5e;
$primary: #1e436b;
$primary-50: #255486;
$primary-60: #51769e;
$primary-70: #7c98b6;
$primary-80: #a8bbcf;
$primary-90: #d3dde7;
$primary-95: #e9eef3;
$primary-98: #f6f8fa;
$primary-99: #fbfcfd;
$primary-100: #ffffff;
