// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
@use './_variables';
@use './admin';
@use './public';
@use '../node_modules/angular-calendar/css/angular-calendar.css';

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #07111b,
    20: #0f2236,
    25: #122a43,
    30: #163250,
    35: #1a3b5e,
    40: #1e436b,
    50: #255486,
    60: #51769e,
    70: #7c98b6,
    80: #a8bbcf,
    90: #d3dde7,
    95: #e9eef3,
    98: #f6f8fa,
    99: #fbfcfd,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #002823,
    20: #004f46,
    25: #006357,
    30: #007768,
    35: #008b7a,
    40: #009e8b,
    50: #00c6ae,
    60: #33d1be,
    70: #66ddce,
    80: #99e8df,
    90: #ccf4ef,
    95: #e6f9f7,
    98: #f5fdfc,
    99: #fafefd,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #3e001d,
    20: #5e1133,
    25: #6c1d3e,
    30: #7b2949,
    35: #893455,
    40: #984061,
    50: #b6587a,
    60: #d57193,
    70: #f48bae,
    80: #ffb1c8,
    90: #ffd9e2,
    95: #ffecf0,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1e,
    20: #2f3033,
    25: #3a3b3e,
    30: #45474a,
    35: #515255,
    40: #5d5e61,
    50: #76777a,
    60: #909094,
    70: #ababae,
    80: #c6c6ca,
    90: #e3e2e6,
    95: #f1f0f4,
    98: #faf9fd,
    99: #fdfcff,
    100: #ffffff,
    4: #0d0e11,
    6: #121316,
    12: #1e2022,
    17: #292a2d,
    22: #333538,
    24: #38393c,
    87: #dad9dd,
    92: #e8e8eb,
    94: #eeedf1,
    96: #f4f3f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c22,
    20: #2c3137,
    25: #373c43,
    30: #43474e,
    35: #4e535a,
    40: #5a5f66,
    50: #73777f,
    60: #8d9199,
    70: #a7abb4,
    80: #c3c6cf,
    90: #dfe2eb,
    95: #edf1fa,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, tertiary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, secondary), $_rest);

$zen-ui-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: (
      scale: -2,
    ),
  )
);

:root {
  @include mat.all-component-themes($zen-ui-theme);
  @include mat.color-variants-backwards-compatibility($zen-ui-theme);
  @include mat.button-density(0);
  @include mat.form-field-density(-5);

  --mat-chip-outline-color: #122a43; // Primary-25
  --mat-chip-trailing-action-state-layer-color: #ffffff;
  --mat-chip-elevated-container-color: #51769e; // Primary-60;
  --mat-chip-label-text-color: #ffffff;
  --mat-tab-header-active-label-text-color: #1e436b; // Primary
  .mat-primary.mat-mdc-tab-group {
    --mat-tab-inactive-label-text-color: #ababae; // Neutral 70
  }
  --mat-tab-header-active-hover-label-text-color: #1e436b; // Primary
  --mat-tab-header-active-focus-label-text-color: #1e436b; // Primary
  --mat-option-selected-state-layer-color: #ccf4ef; // Secondary-90
  --mat-datepicker-calendar-header-text-color: #1e436b; // Primary
  --mat-datepicker-calendar-date-text-color: #1e436b; // Primary

  --mat-fab-small-container-color: #1e436b !important;
  --mat-fab-small-foreground-color: white !important;

  .mdc-text-field--outlined {
    background-color: white !important;
  }

  .mat-calendar-body-label {
    opacity: 0;
  }
  .mat-calendar-body-label[colspan='7'] {
    display: none;
  }
  .mat-calendar-body-cell-content {
    font-weight: 500;
  }

  .mat-calendar-previous-button::after,
  .mat-calendar-next-button::after {
    margin: 12px;
  }

  .month-year-datepicker .mat-calendar-arrow {
    display: none;
  }
  .month-year-datepicker .mat-calendar-period-button {
    pointer-events: none;
  }

  .highlighted {
    background-color: variables.$secondary;
    .mat-calendar-body-cell-content {
      color: variables.$white;
    }
  }

  p {
    margin: 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

p,
div,
span,
a,
b,
i,
u,
li {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Comfortaa', sans-serif !important;
}

.semi-bold {
  font-weight: 600;
}

.dialog__container {
  display: flex;
  flex-direction: column;
}

.dialog__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: variables.$primary;
  h2,
  mat-icon {
    color: variables.$white !important;
  }
  button {
    margin-right: 10px;
  }
}
