@use '../../../variables';
@use '../../../public';

.reservation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: variables.$white;
  height: auto;
  &:active {
    box-shadow: 0px 2px 2px 0px rgba(30, 67, 107, 0.25);
  }
  .reservation-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    .reservation-image-container {
      //   flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px 0 0 0;
      //   height: 80px;
      //   margin: 5px;
      width: 40%;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        // max-height: 80px;
        border-radius: 20px 0 0 0;
        // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
    .reservation-info-container {
      flex: 2;
      min-width: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
      padding: 5px 5px;
      .reservation-service {
        color: variables.$black;
        font-size: 14px;
        font-weight: 700;
      }
      .reservation-info-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .reservation-info-icon {
          color: variables.$secondary;
          height: 16px;
          width: 16px;
          font-size: 16px;
        }
        .reservation-info-text {
          color: variables.$gray;
          font-size: 12px;
          font-weight: 600;
        }
        .reservation-status {
          font-size: 10px;
          border: 2px solid;
          border-radius: 4px;
          padding: 4px;
          font-weight: 700;
          &.pending {
            color: variables.$gray;
            border-color: variables.$gray;
            background-color: variables.$light-gray;
          }
          &.accepted {
            background-color: variables.$light-green;
            color: variables.$green;
            border-color: variables.$green;
          }
          &.cancelled {
            background-color: variables.$light-red;
            color: variables.$red;
            border-color: variables.$red;
          }
        }
      }
    }
  }
  .reservation-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    button {
      font-size: 12px;
      &.cancel-button {
        color: variables.$gray;
        border-color: variables.$gray;
      }
    }
  }
}
