<div class="dialog__container">
    <div class="dialog__header">
        <h2 mat-dialog-title>
            Update Reservation
        </h2>
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        @if (isLoading()) {
        <div class="admin-spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        }
        <form [formGroup]="reservationForm" class="reservation-form">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input matInput formControlName="customerName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Customer Email</mat-label>
                    <input matInput formControlName="customerEmail">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Customer Phone</mat-label>
                    <input matInput formControlName="customerPhone">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Start Time</mat-label>
                    <input matInput formControlName="startTime">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>End Time</mat-label>
                    <input matInput formControlName="endTime">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Service</mat-label>
                    <mat-select formControlName="serviceId">
                        @for (service of offeredServiceOptions; track service) {
                        <mat-option [value]="service.value">
                            {{service.label}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        @for (status of reservationStatusTypeOptions; track status) {
                        <mat-option [value]="status.value">
                            {{status.label}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="cancel-button" (click)="close()">Cancel</button>
        <button mat-button class="save-button" color="primary" [disabled]="reservationForm.invalid"
            (click)="save()">Save</button>
    </mat-dialog-actions>
</div>