@use '../../../variables';
@use '../../../public';

.service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: variables.$white;
  .service-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px 20px 0 0;
    }
  }
  .service-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    .service-info-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      &.title {
        justify-content: space-between;
        .service-name {
          flex: 1;
          color: variables.$black;
          font-size: 14px;
          font-weight: 700;
        }
      }
      .service-info-icon {
        color: variables.$secondary;
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
      .service-info-text {
        color: variables.$gray;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
